.abas-header {
  justify-content: end;
}
.container-home {
  margin-top: 20px;
  text-align: center;
}
.titulo-home {
  text-align: center;
  font-family: sans-serif;
}
.text-home {
  text-align: justify;
  font-family: sans-serif;
}
.img-home {
  margin-top: 20px;
}
.footer-home {
  margin-top: 20px;
}
.container-sobre {
  margin-top: 20px;
}
.titulo-sobre {
  text-align: center;
}
.sobre-mim {
  font-family: sans-serif;
  text-align: justify;
  margin-top: 20px;
}
.titulo-caracteristicas {
  text-align: center;
  margin-top: 20px;
}
.row-sobre {
  margin-top: 20px;
}
.card {
  margin-bottom: 10px;
  height: 100%;
}
.card-column {
  margin-bottom: 10px;
}
.titulo-competencia {
  text-align: center;
  margin-top: 20px;
}
.row-competencia {
  margin-top: 20px;
}
.botao-enviar {
  margin-top: 32px;
}
.div-iframe {
  margin-top: 20px;
}
.iframe-style {
  border-radius: 20px;
}
.btn-contatos {
  width: 100%;
  margin-bottom: 10px;
}
.bi-contatos {
  margin-right: 5px;
}
