body {
  background-color: #18bc9c;
  color: #18bc9c;
  font-family: sans-serif;
}
.navbar {
  padding: 0px;
}
.navbar-nav .nav-link {
  color: white;
}
.navbar-nav .nav-link:hover {
  color: #18bc9c;
}
.btn-color {
  color: #18bc9c;
  border-color: #18bc9c;
}
.btn-color:hover,
.btn-color:hover {
  background-color: #18bc9c;
  color: white;
}
.btn {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-contatos {
  width: 100%;
  margin-bottom: 10px;
}
.container {
  background-color: white;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: center;
}
.container-home,
.container-sobre {
  margin-top: 20px;
}
.titulo {
  text-align: center;
  color: #2c3e50;
  font-size: 2.5rem;
  margin-top: 20px;
}
.titulo-home,
.titulo-sobre,
.titulo-competencia {
  margin-top: 20px;
}
.texto {
  text-align: justify;
  color: #555;
  font-size: 1.1rem;
  margin-top: 20px;
}
.sobre-mim,
.text-home,
.card-text {
  margin-top: 20px;
  text-align: justify;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.img-sobre,
.img-logos {
  height: 200px;
  width: 200px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
.card {
  margin-bottom: 10px;
  height: 100%;
}
.card-column {
  margin-bottom: 10px;
}
.card-title {
  text-align: center;
}
.card-text {
  text-align: justify;
}
.p-footer {
  margin: 0;
  font-size: 0.9rem;
}
.footer-home {
  margin-top: 20px;
}
.alerta-home {
  background-color: #f39c12;
  color: white;
  border: none;
}
.abas-header {
  justify-content: end;
}
.botao-enviar {
  margin-top: 32px;
}
.div-iframe {
  margin-top: 20px;
}
.iframe-style {
  border-radius: 20px;
}
.bi {
  margin-right: 5px;
}

